@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Risque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Risque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Risque&family=Rosarivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Poppins&family=Raleway&family=Risque&family=Rosarivo&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.furniture {
    width: 100%;
}
.header {
    width: 100%;
    min-height: 100px;
    display: flex;
    background: #f9f6f0;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.c-name{
    font-family: Risque;
    margin-left: 40px;
}
.c-name p:first-child {
    font-size: 45px;
    color: #f3901a;
}
.c-name p:last-child {
    font-size: 25px;
}
.menu-content {
    display: flex;
    font-family: poppins;
    margin-right: 15px;
}
.menu-content li {
    list-style: none;
    margin: 0px 25px;
}
.menu-content li a {
    text-decoration: none;
    color: #4b4b4b;
    font-weight: 600;
}
.menu-content li a:hover {
    color: #ffad4c;
}
.first-part {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    background: #f9f6f0;
}
.dream {
    position: absolute;
    width: 28%;
    min-height: 300px;
    left: 150px;
    top: 100px;
    background: #e9e9ea;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    justify-content: space-evenly;
    padding: 15px 0px;
    padding-left: 20px;
    border-radius: 6px;
}
.first-img {
    width: 80%;
}
.first-img img {
    width: 100%;
}
.dream p{
    font-family: rockwell;
    color: #FFAD4C;
    font-size: 35px;
}
.dream span {
    font-family: poppins;
}
.dream button {
    background: #FFAD4C;
    color: White;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-family: poppins;
    font-weight: 600;
    font-size: 12px;
}
.second-part {
    display: flex;
    width: 100%;
    min-height: 180px;
    background: #dcf0ff;
    align-items: center;
    justify-content: center;
    font-family: raleway;
    justify-content: space-evenly;
}
.feature {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.f-content p:first-child {
    font-weight: 600;
}
.f-content p:last-child {
    color: #898989;
    font-size: 12px;
}
.third-part {
    width: 100%;
    background: #faeddc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}
.home {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background: #efece7;
}
.home h4 {
    font-family:rosarivo ;
    font-size: 18px;
}
.interior {
    font-size: 24px!important;
    width: 90%;
    padding-bottom: 20px;
}
.home p {
    font-family: poppins;
    color: #4b4b4b;
    font-size: 13px;
}
.l-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.l-home img {
    width: 90%;
}
.r-home {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.r-details {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0px;
}
.r-details img {
    width: 32%;
}
.sentence {
    width: 60%;
}
.fourth-part {
    width: 100%;
    background: #faf7f2;
}
.products {
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-family: Jacques Francois;
}
.products h3 {
    margin-left: 25px;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.products p {
    margin-right: 25px;
    color: #817f7c;
    font-size: 15px;
    font-weight: 600;
}
.products p img {
    position: relative;
    top: 6px;
}
.pro-menu {
    width: 100%;
    display: flex;
    font-family: poppins;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.pro-menu ul {
    display: flex;
}
.pro-menu ul li {
    list-style: none;
    margin: 0px 25px;
}
.pro-menu ul li a {
    color: #807f7d;
    text-decoration: none;
}
.pro-menu ul li a:hover {
    color: black;
    font-weight: 600;
}
.product-items {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 15px 0px;
}
.item {
    width: 17%;
}
.item img {
    width: 100%;
    cursor: pointer;
}
.fifth-part {
    width: 100%;
    min-height: 400px;
    background: #e0e0e0;
    display: flex;
    align-items: center;
}
.rooms {
    width: 80%;
    min-height: 300px;
    background: #fcf8f3;
    font-family: Rosarivo;
}
.room-details {
    width:35%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin-left: 40px;
}
.room-details p:first-child {
    font-size: 26px;
    font-weight: 600;
}
.room-details p:nth-child(2) {
    font-size: 15px;
    font-weight: 500;
}
.room-details button {
    padding: 8px 20px;
    background: #e89f71;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    font-family: Rosarivo;
    cursor: pointer;
}
.footer-part {
    width: 100%;
    background: #dcf0ff;
    font-family: poppins;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fpart1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.pt-1 {
    width: 45%;
}
.pt-1 h4 {
    text-transform: uppercase;
    font-size: 23px;
}.pt-1 p {
    color: #7d7c7c;
}
.pt-2 {
    width: 45%;
    display: flex;
   justify-content: end;
}
.pt-2 label {
    width: 70%;
    position: relative;
}
.pt-2 input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 3px;
}
.pt-2 button {
   position: absolute;
   right: 4px;
   top:2px;
   padding: 10px 15px;
   background: #ffad4c;
   color: white;
   font-family: poppins;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
::placeholder {
    font-family: poppins;
}
.fpart2 {
    display: flex;
    width: 100%;
    min-height: 120px;
    align-items: end;
    justify-content: end;
    justify-content: space-between;
}
.pt-3 {
    margin-left: 40px;
}
.pt-4 ul {
    display: flex;
    margin-right: 10px;
}
.pt-4 ul li {
    list-style: none;
    margin: 0px 20px;
}
.pt-4 ul li a {
    text-decoration: none;
    color: #7d7c7c;
    font-size: 14px;
    font-weight: 600;
}
.pt-4 ul li a:hover {
    color: black;
}