@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
.teacher {
    width: 100%;
    display: flex;
}
/* .side-bar {
    width: 20%;
    background: #fcfad3;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.part-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 320px;
    width: 100%;
}
.logo-content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.menu-item {
    width: 100%;
    margin-top: 30px;
}
.logo {
    width: 100px;
    position: relative;
}
.logo img {
    width: 25px;
}
.logo span {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 20px;
    color: #2d00f7;
    font-weight: 700;
}
.side-bar ul li {
    list-style: none;
    font-size: 13px;
    padding: 7px 0px;
    cursor: pointer;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #706d87;
}

.t-bar {
    background: #fde2ca
}
.side-bar ul li img{
    position: relative;
    padding-right: 10px;
    top: 4px;
}
.menu-bar{
    width: 150px;
}
.menu-bar a {
    color: black;
    text-decoration: none;
}
.side-bar ul li a:hover{
    color: #2d00f7;
}
.side-bar ul li:hover{
    color: #2d00f7;
}
.part-two {
    display: flex;
    font-size: 12px;
    padding-bottom: 15px;
}
.part-two img {
    padding-right: 10px;
}
.part-two i {
    font-size: 20px;
    color: #1d3557;
    margin-top: 8px;
    margin-left: 15px;
    cursor: pointer;
} */
.teacher-content {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header {
    width: 95%;
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.l-header {
    margin-left: 30px;
    color: #ff80a6;
    font-weight: 600;
}
.r-header {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-size: 12px;
    margin-right: 30px;
}
.r-header img {
    cursor: pointer;
}
.r-header input {
    width: 250px;
    border:1px solid #ccc;
    outline: none;
    border-radius: 4px;
    height: 26px;
    padding-left: 5px;
}
.teacher-details {
    width: 90%;
    border-radius: 20px;
    border:none;
    min-height: 400px;
    background: #f3f2ff;
    margin-top: 45px;
}
.teacher-header {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background: #ff80a6;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.teacher-header span {
    padding-left: 15px;
}
.teacher-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top:5px;
    margin-left: 20px;
}
.teach-box {
    width: 370px;
    display: flex;
    flex-direction: column;
    margin:10px 0px;
}
.teach-box input,select {
    height: 33px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    outline: none;
    padding-left: 10px;
}
.teach-box i {
    margin-right: 10px;
}
.teach-box input[type='file'] {
    display: none;
}
.teach-box label {
    font-size: 14px;
    color: #303972;
    font-weight: 600;
}
.teach-box p {
    color: black;
    font-weight: 600;
    margin-left: 5px;
}
.teach-box textarea {
    resize: none;
    border: 1px solid #ccc;
    height: 70px;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
}
.form-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top:5px;
    margin-left: 20px;
}
.t-photo {
    border: 1px dashed #4a5759;
    height:33px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: #ccc!important;
    background: white;
    margin-top: 5px;
    font-size: 12px;
}
.t-photo span {
    color: #1d3557;
    margin-left: 5px;
    font-weight: 600;
}
.t-btnn {
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: end;
}
.prev-btnn{
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.t-btnn button, .prev-btnn button {
    background: #ff80a6;
    width: 130px;
    padding: 5px 5px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}
.prev-btnn button {
    margin-left: 20px;
}
.t-btnn button a, .prev-btnn button a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.t-btnn button img, .prev-btnn button img {
    position: relative;
    top: 2px;
    left: 10px;
    width: 20px;
}
.sub-btnn {
    width:90%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.sub-btnn button {
    background: #ff80a6;
    width: 130px;
    padding: 5px 5px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}
::placeholder {
    color: #ccc;
    font-size: 12px;
}
@media(max-width:1050px){
    .teach-box {
        width: 300px;
    }
    .teach-box label {
        font-size: 12px;
    }
}
@media(max-width:800px){
    .teach-box {
        width: 250px;
    }
    .form-left {
        margin-left: 10px;
    }
    .part-two {
        display: flex;
        font-size: 10px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
    }
    .part-two i {
        font-size: 18px;
        color: #ccc;
        margin-left: 10px;
        cursor: pointer;
    }
    .r-header {
        width: 230px;
    }
    .proof {
        display: none;
    }
}
.tchr-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.tchr-info{
    width: 95%;
    border-collapse: separate;
    border-spacing: 0px 7px;
}
.tchr-info th {
    color: #979798;
    font-size: 11px;
   text-align: center;
}
.tchr-row {
    background: white;
    font-size: 12px;
    text-align: center;
    /* box-shadow: 0px 4px 5px #cacbcd; */
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
.tchr-row:hover {
    box-shadow: 0px 4px 5px #cacbcd; 
}
.tchr-row td{
    padding: 5px 0px;
    background: white;
    font-weight: 600;
    text-align: center;
}
.tchr-row td i {
    color: #ccc;
}
.tchr-row td:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.tchr-row td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.grade {
    background-color: #fcfbd4;
    color: red;
    padding: 3px 20px;
    border-radius: 25px;
}
.due1 {
    background-color: #fce6e6;
    color: red;
    padding: 3px 20px;
    border-radius: 25px;
}
.due2 {
    color: #0fc478;
    background-color: #e1f5ee;
    padding: 3px 20px;
    border-radius: 25px;
}
.teacherprofile {
    width: 150px;
    text-align: left;
}
.teacherprofile span {
    position: relative;
    margin-right:10px;
}
.teacherprofile img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}
.rupee {
    color: #fd0f56;
}
.notify{
    background: white;
    border-radius: 50%;
    padding: 5px 7px 0px 7px;
}
.caret {
    float: right;
    margin-top: 5px;
}
ul {
    position:relative;
}
.t-drop{
    position :absolute;
}

.multi-select-control {
    width: 95%;
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.multi-select-dropdown {
    display: flex;
    align-items: center;
    background-color: #ffffffe0;
    padding: 4px 6px;
    border-radius: 4px;
    margin-right: 10px;
}

.multi-select-dropdown input {
    height: 30px;
    width: 16px;
}

.multi-select-dropdown select {
    height: 33px;
    width: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}
.teacher-content{
    height: calc(100vh-100px);
    overflow-y: auto;
    

}